* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: tahoma, helvetica, verdana, arial sans-serif;
	font-size: 12px;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.wrapper {
	min-height: 100%;
	display: table;
	width: 100%;
	background-color: #f2f2f2;
}

.wrapper__cell {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

.logo {
	height: 45px;
	width: 200px;
	background-repeat: no-repeat;
	background-image: url(../img/logo-main.png);
}

.logo--form {
	margin-bottom: 39px;
}

.logo--post {
	background-image: url(../img/logo-post.png);
}

.logo--vds {
	background-image: url(../img/logo-vds.png);
}

.form-block {
	width: 586px;
	margin: 0 auto;
	margin-top: -70px;
}

.login-block {
	position: relative;
	padding-top: 70px;
}

.err-message {
	color: #933;
	padding: 12px 20px;
	border-radius: 5px;
	box-shadow: 3px 5px 33px rgba(28, 81, 182, 0.07);
	background-color: #fff9f9;
	position: absolute;
	top: 0;
	width: 100%;
	display: none;
}

.err-message__text-warning:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background-image: url(../img/warning.png);
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 15px;
}

.err-message--show {
	display: block;
}

.main-form-wrapper {
	display: table;
	width: 100%;
	box-shadow: 3px 5px 33px rgba(28, 81, 182, 0.07);
}

.main-form-wrapper__item {
	display: table-cell;
	vertical-align: top;
	background-color: white;
}

.main-form-wrapper__item--left {
	width: auto;
	padding: 40px 34px 0 39px;
	position: relative;
	z-index: 20;
}

.main-form-wrapper__item--right {
	width: 178px;
	z-index: 15;
	position: relative;
}

.login-nav {
	border: 1px solid #dde9ee;
	border-bottom: 0;
}

.login-nav__item {
	display: block;
	padding: 30px 30px 30px 35px;
	position: relative;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #598ba8;
	background-color: #def6ff;
	border-bottom: 1px solid #bce9fa;
	transition: 0.5s;
}

.login-nav__item > span {
	border-bottom: 1px #79a8c4 dotted;
}

.login-nav__item:hover {
	color: #598ba8;
	border-bottom: 1px solid #bce9fa;
	box-shadow: inset 1px 1px 0 #d7f4ff, inset -1px 0 0 #d7f4ff;
}

.login-nav__item:hover > span {
	border-bottom: 0;
}

.login-nav__item:before {
	content: '';
	position: absolute;
	top: 50%;
	left: -13px;
	width: 0;
	height: 0;
	margin-top: -13px;
	border-top: 12px solid transparent;
	border-left: 12px solid white;
	border-bottom: 12px solid transparent;
	transition: 0.3s;
}

.login-nav__item--active {
	background-color: #c7effe;
}

.login-nav__item--active:before {
	left: -1px;
}

.login-nav__item--active:hover {
	background-color: #c7effe;
}

.login-form__row {
	margin-bottom: 18px;
}

.login-form__row:nth-child(3) {
	margin-bottom: 34px;
}

.login-control {
	width: 100%;
	border: 0;
	border-radius: 3px;
	padding: 12px 8px 12px 16px;
	background-color: #f4f6f8;
	box-shadow: inset 1px 1px 0 #e1e8ec, inset -1px -1px 0 #f0f4f6;
	font-size: 14px;
}

.login-control::-webkit-input-placeholder {
	color: #586871;
	transition: 0.3s;
}

.login-control::-moz-placeholder {
	color: #586871;
	transition: 0.3s;
}

.login-control:-moz-placeholder {
	color: #586871;
	transition: 0.3s;
}

.login-control:-ms-input-placeholder {
	color: #586871;
	transition: 0.3s;
}

.login-control::-ms-clear {
	display: none;
}

.login-control:focus {
	outline: none;
}

.login-control:focus::-webkit-input-placeholder {
	opacity: 0;
}

.login-control:focus::-moz-placeholder {
	opacity: 0;
}

.login-control:focus:-moz-placeholder {
	opacity: 0;
}

.login-control:focus:-ms-input-placeholder {
	opacity: 0;
}

.login-control.error {
	outline: 1px solid red;
}

.checkbox {
	display: inline-block;
	vertical-align: middle;
}

.checkbox input[type="checkbox"] {
	display: none;
}

.checkbox input[type="checkbox"] + label:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 19px;
	margin-right: 8px;
	background-color: white;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../img/checkbox.png");
}

.checkbox input[type="checkbox"]:checked + label:before {
	background-position: 0 -38px;
}

.recover-link {
	color: #09c;
	border-bottom: 1px solid #09c;
	text-decoration: none;
}

.recover-link--right {
	float: right;
}

.recover-link:hover {
	border: 0;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #a1d5ef;
	border-radius: 4px;
	box-shadow: inset 1px 1px 0 #beeafc;
	color: #43718c;
	cursor: pointer;
	font-size: 18px;
	padding: 8px 20px;
	text-shadow: 1px 1px 1px #c3e9f8;
	background-color: #a3e4ff;
}

.btn:focus {
	outline: none;
	border: 0;
}

