@font-face {
  font-family: 'DINRoundPro-Regular';
  src: url('../font/DINRoundPro.eot');
  src: local('☺'), url("../font/DINRoundPro.eot?#iefix") format("embedded-opentype"), url('../font/DINRoundPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINRoundPro-Medium';
  src: url('../font/DINRoundPro-Medi.eot');
  src: local('☺'), url('../font/DINRoundPro-Medi.eot') format("embedded-opentype"), url('../font/DINRoundPro-Medium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINRoundPro-Light';
  src: url('../font/DINRoundPro-Light.eot');
  src: local('☺'), url('../font/DINRoundPro-Light.eot') format("embedded-opentype"), url('../font/DINRoundPro-Light.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DINRoundPro-Bold";
  src: url('../font/DINRoundPro-Bold.eot');
  src: local('☺'), url("../font/DINRoundPro-Bold.eot?#iefix") format("embedded-opentype"), url('../font/DINRoundPro-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'DINRoundPro-Regular', Arial, sans-serif;
  position: relative;
  min-width: 1000px;
}
.container {
  max-width: 960px;
  margin: 0px auto;
  padding: 0 20px;
  position: relative;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 160px;
}
.page-header {
  position: fixed;
  background-color: white;
  z-index: 10000;
  width: 100%;
}
.main-navigation {
  width: 620px;
  float: left;
}
.main-navigation ul {
  list-style: none;
}
.main-navigation ul li {
  font-family: 'DINRoundPro-Bold';
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  float: left;
  margin-right: 35px;
}
.main-navigation ul li:last-child {
  margin-right: 0;
}
.main-navigation a {
  text-decoration: none;
  color: #212121;
}
.main-navigation a:hover {
  color: #0b747c;
}
.phone {
  width: 140px;
  float: right;
  padding-left: 23px;
  font-family: 'DINRoundPro-Bold';
  font-size: 18px;
  line-height: 42px;
  color: #212121;
  position: relative;
}
.phone:before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  width: 13px;
  height: 16px;
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
}
.phone__code {
  font-family: 'DINRoundPro-Light';
  color: #868585;
}
.breadcrumbs {
  padding-left: 15px;
  position: relative;
}
.breadcrumbs-wrapper {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 30px;
  padding-top: 42px;
}
.breadcrumbs a {
  font-family: 'DINRoundPro-Light';
  font-size: 12px;
  line-height: 48px;
  color: #c0c0c0;
  text-decoration: none;
  padding-left: 5px;
}
.breadcrumbs a:first-child {
  color: #00a5b1;
  border-bottom: 1px solid #00a5b1;
  padding-left: 0;
}
.breadcrumbs a:first-child:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url(../img/home.png);
  background-repeat: no-repeat;
  top: 20px;
  left: 0px;
}
.submenu {
  width: 150px;
  float: left;
}
.submenu ul {
  list-style: none;
}
.submenu ul li {
  font-family: 'DINRoundPro-Bold';
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
}
.submenu ul li a {
  text-decoration: none;
  color: #868585;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  border-radius: 3px;
  transition-duration: 0.1s;
}
.submenu ul li a:hover {
  color: #212121;
  transform: scale(1.1);
}
.submenu .active {
  background-color: #00a5b1;
  color: white;
}
.main-content {
  width: 760px;
  float: right;
  font-family: 'DINRoundPro-Light';
  font-size: 16px;
  line-height: 22px;
  color: #505050;
  padding-bottom: 20px;
}
.main-content h1 {
  font-family: 'DINRoundPro-Bold';
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 25px;
  font-weight: 400;
  color: #212121;
}
.main-content a {
  text-decoration: none;
  color: #00a5b1;
  transition-duration: 0.1s;
}
.main-content a:hover {
  color: #0b747c;
  border-bottom: 1px solid #0b747c;
  transform: scale(1.2);
}
.slider {
  height: 650px;
  position: relative;
  margin-bottom: 30px;
  padding-top: 42px;
}
.slider-item {
  position: relative;
}
.slider-item__text {
  width: 480px;
  position: absolute;
  top: 130px;
  left: 30px;
}
.slider-item__text span {
  font-family: 'DINRoundPro-Light';
  font-size: 30px;
  line-height: 60px;
  color: #0b747c;
}
.slider-item__text h1 {
  font-family: 'DINRoundPro-Bold';
  font-size: 48px;
  line-height: 60px;
  color: #0b747c;
}
.slider-item__text p {
  font-family: 'DINRoundPro-Light';
  font-size: 30px;
  line-height: 45px;
  color: black;
}
.slider-item__image {
  margin-left: -130px;
}
.slider-controls__left,
.slider-controls__right {
  width: 16px;
  height: 40px;
  position: absolute;
  top: 325px;
  cursor: pointer;
  opacity: 0.6;
}
.slider-controls__left:hover,
.slider-controls__right:hover {
  opacity: 1;
}
.slider-controls__left {
  background-image: url(../img/arrow-left.png);
  background-repeat: no-repeat;
  left: -20px;
}
.slider-controls__right {
  background-image: url(../img/arrow-right.png);
  background-repeat: no-repeat;
  right: -20px;
}
h2 {
  font-family: 'DINRoundPro-Bold';
  font-size: 30px;
  line-height: 60px;
  color: #212121;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 400;
}
.education {
  margin-bottom: 35px;
}
.education__table {
  margin-bottom: 20px;
}
.education__item {
  width: 240px;
  height: 240px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: -4px;
  color: black;
  transition-duration: 0.3s;
}
.education__item:hover {
  background-color: #00a5b1;
}
.education__item:hover h3 {
  color: white;
}
.education__item:hover h3:after {
  background-image: url(../img/education-white.png);
  background-repeat: no-repeat;
}
.education__item:hover p {
  color: white;
}
.education__item:hover .education__item-arrow-right {
  border-left-color: #00a5b1;
}
.education__item:hover .education__item-arrow-left {
  border-right-color: #00a5b1;
}
.education__item-link {
  display: block;
  width: 240px;
  height: 240px;
  position: absolute;
}
.education__item h3 {
  font-family: 'DINRoundPro-Bold';
  color: #212121;
  font-size: 18px;
  line-height: 18px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 40px;
}
.education__item h3:after {
  content: '';
  width: 90px;
  height: 15px;
  display: block;
  margin-left: 75px;
  margin-top: 10px;
  background-image: url(../img/education-gray.png);
  background-repeat: no-repeat;
}
.education__item p {
  font-family: 'DINRoundPro-Light';
  font-size: 16px;
  line-height: 22px;
  color: #505050;
  text-align: center;
  padding: 0 20px;
}
.education__item-arrow-right {
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 15px solid white;
  border-bottom: 15px solid transparent;
  position: absolute;
  right: -13px;
  top: 100px;
  z-index: 100;
  transition-duration: 0.3s;
}
.education__item-arrow-left {
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid white;
  border-bottom: 15px solid transparent;
  position: absolute;
  left: -13px;
  top: 100px;
  z-index: 100;
  transition-duration: 0.3s;
}
.education-btn {
  text-align: center;
}
.btn {
  display: inline-block;
  width: 120px;
  background-color: #e2e2e2;
  text-decoration: none;
  font-family: 'DINRoundPro-Bold';
  font-size: 14px;
  line-height: 28px;
  color: #868585;
  text-align: center;
  border-radius: 3px;
  transition-duration: 0.3s;
}
.btn:hover {
  background-color: #fd6268;
  color: white;
}
.methods {
  background-color: #f6f6f6;
  padding-bottom: 35px;
}
.methods__item {
  width: 256px;
  border: 2px solid #e2e2e2;
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
  padding: 30px 20px;
}
.methods__item:nth-child(2) h3:before {
  background-image: url(../img/skype.png);
  background-position: center;
  background-repeat: no-repeat;
}
.methods__item:nth-child(3) h3:before {
  background-image: url(../img/office.png);
  background-position: center;
  background-repeat: no-repeat;
}
.methods__item:nth-child(4) h3:before {
  background-image: url(../img/exam.png);
  background-position: center;
  background-repeat: no-repeat;
}
.methods__item:last-child {
  margin-right: 0;
}
.methods__item a {
  text-decoration: none;
}
.methods__item h3 {
  font-family: 'DINRoundPro-Bold';
  font-size: 24px;
  line-height: 30px;
  color: #0b747c;
  padding: 0 0 45px 100px;
  font-weight: 400;
  position: relative;
}
.methods__item h3:before {
  content: '';
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #00a5b1;
  position: absolute;
  left: 0;
  bottom: 30px;
}
.methods__item h3:hover {
  color: #00a5b1;
}
.methods__item p {
  padding-bottom: 35px;
  font-family: 'DINRoundPro-Light';
  font-size: 16px;
  line-height: 26px;
  color: #505050;
  border-bottom: 1px dashed #e2e2e2;
}
.methods__item .btn {
  margin-left: 65px;
  margin-top: 30px;
}
.price p {
  font-family: 'DINRoundPro-Light';
  font-size: 18px;
  line-height: 25px;
  color: #868585;
  text-align: center;
  padding-bottom: 20px;
}
.price__included h4 {
  font-family: 'DINRoundPro-Bold';
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  padding-bottom: 15px;
  font-weight: 400;
}
.price__included ul {
  list-style: none;
}
.price__included ul li {
  font-family: 'DINRoundPro-Light';
  font-size: 14px;
  line-height: 24px;
  color: #505050;
  padding-left: 20px;
  padding-bottom: 10px;
  position: relative;
}
.price__included__left {
  width: 420px;
  float: left;
  position: relative;
}
.price__included__left li:before {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 7px;
  background-image: url(../img/dot.png);
  background-repeat: no-repeat;
}
.price__included__left:after {
  content: '';
  width: 1px;
  height: 90px;
  background-color: #e2e2e2;
  position: absolute;
  right: -50px;
  top: 5px;
}
.price__included__right {
  width: 420px;
  float: right;
}
.price__included__right li:before {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 7px;
  background-image: url(../img/dot.png);
  background-repeat: no-repeat;
}
.price__included-items {
  border-top: 1px #e2e2e2 dashed;
  border-bottom: 1px #e2e2e2 solid;
  padding-top: 15px;
  margin-bottom: 15px;
}
.price__included p {
  font-size: 14px;
}
.price-table {
  width: 100%;
  border: 2px solid #e2e2e2;
  border-top: none;
  border-spacing: 0;
  position: relative;
  margin-bottom: 20px;
}
.price-table__title {
  width: 300px;
  height: 60px;
  background-color: #fd6268;
  font-family: 'DINRoundPro-Bold';
  font-size: 16px;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
}
.price-table td {
  width: 300px;
  height: 60px;
  text-align: center;
}
.price-table tr {
  position: relative;
}
.price-table__time {
  font-family: 'DINRoundPro-Bold';
  font-size: 16px;
  line-height: 48px;
  color: #505050;
  position: relative;
}
.price-table__number {
  font-family: 'DINRoundPro-Regular';
  font-size: 16px;
  line-height: 48px;
  color: #505050;
  position: relative;
}
.price-table__number:before {
  content: '';
  position: absolute;
  left: 0;
  top: 20px;
  width: 1px;
  height: 30px;
  background-color: #e2e2e2;
}
.price-table__number:after {
  content: '';
  position: absolute;
  right: 0;
  top: 20px;
  width: 1px;
  height: 30px;
  background-color: #e2e2e2;
}
.price-table__tariff {
  font-family: 'DINRoundPro-Bold';
  font-size: 16px;
  line-height: 48px;
  color: #fd6268;
}
.price-table .border:after {
  content: '';
  width: 915px;
  height: 1px;
  position: absolute;
  background-image: url(../img/border.png);
  background-repeat: repeat-x;
  top: 125px;
  left: 20px;
}
.teachers {
  background-color: #f6f6f6;
  padding-bottom: 35px;
  margin-bottom: 30px;
}
.teachers .slider-controls__left,
.teachers .slider-controls__right {
  width: 16px;
  height: 40px;
  position: absolute;
  top: 230px;
  cursor: pointer;
  opacity: 0.6;
}
.teachers .slider-controls__left:hover,
.teachers .slider-controls__right:hover {
  opacity: 1;
}
.teachers .slider-controls__left {
  background-image: url(../img/arrow-left.png);
  background-repeat: no-repeat;
  left: -30px;
}
.teachers .slider-controls__right {
  background-image: url(../img/arrow-right.png);
  background-repeat: no-repeat;
  right: -30px;
}
.teachers__item {
  width: 298px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 28px;
  border-bottom: 2px solid #e2e2e2;
}
.teachers__item:last-child {
  margin-right: 0;
}
.teachers__item-img {
  height: 180px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.teachers__item-img:after {
  content: '';
  position: absolute;
  z-index: 200;
  bottom: 0;
  left: 140px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}
.teachers__item-name {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 70px;
  position: relative;
  background-color: white;
  border-right: 2px solid #e2e2e2;
}
.teachers__item-name a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'DINRoundPro-Bold';
  font-size: 18px;
  line-height: 24px;
  color: #212121;
  padding-bottom: 5px;
  display: inline-block;
  vertical-align: middle;
  transition-duration: 0.1s;
}
.teachers__item-name a:hover {
  color: #0b747c;
}
.teachers__item-name span {
  font-family: 'DINRoundPro-Light';
  font-size: 14px;
  line-height: 24px;
  color: #868585;
}
.teachers__item-name:before {
  content: '';
  width: 50px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ebebeb;
  background-image: url(../img/name.png);
  background-position: center;
  background-repeat: no-repeat;
}
.teachers__item-status {
  min-height: 80px;
  padding-left: 70px;
  position: relative;
  background-color: white;
  border-right: 2px solid #e2e2e2;
}
.teachers__item-status span {
  font-family: 'DINRoundPro-Light';
  font-size: 14px;
  line-height: 18px;
  color: #505050;
}
.teachers__item-status:before {
  content: '';
  width: 50px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e2e2e2;
  background-image: url(../img/status.png);
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-wrapper {
  overflow: hidden;
}
.carousel-items {
  width: 10000px;
  position: relative;
}
.case {
  padding-bottom: 50px;
}
.case__item {
  width: 168px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  border: 2px solid #e2e2e2;
  position: relative;
}
.case__item-descr {
  text-align: center;
  background-color: #e2e2e2;
  padding: 5px 0;
}
.case__item-descr span {
  font-family: 'DINRoundPro-Light';
  font-size: 14px;
  line-height: 18px;
  color: #505050;
}
.case__item-img {
  height: 135px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.case__item:last-child {
  margin-right: 0;
}
.case__item:hover .case__link {
  display: block;
}
.case__wrapper {
  width: 168px;
  display: table;
}
.case .slider-controls__left,
.case .slider-controls__right {
  width: 16px;
  height: 40px;
  position: absolute;
  top: 125px;
  cursor: pointer;
  opacity: 0.6;
}
.case .slider-controls__left:hover,
.case .slider-controls__right:hover {
  opacity: 1;
}
.case .slider-controls__left {
  background-image: url(../img/arrow-left.png);
  background-repeat: no-repeat;
  left: -30px;
}
.case .slider-controls__right {
  background-image: url(../img/arrow-right.png);
  background-repeat: no-repeat;
  right: -30px;
}
.case__link {
  display: none;
  position: absolute;
  width: 100%;
  height: 170px;
  width: 172px;
  top: -2px;
  left: -2px;
  background-color: #00a5b1;
  background-image: url(../img/link.png);
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'DINRoundPro-Light';
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  text-decoration: none;
  color: white;
  text-align: center;
}
.page-footer {
  background-color: #212121;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 160px;
}
.page-footer__top {
  padding: 23px 0;
  border-bottom: 1px solid #424242;
}
.page-footer__top-search {
  width: 300px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 170px;
}
.page-footer__top-search input[type="search"] {
  width: 260px;
  padding: 10px 35px 10px 15px;
  border: none;
  background-color: #424242;
  display: inline-block;
}
.page-footer__top-search ::-webkit-input-placeholder {
  color: #909090;
  font-family: 'DINRoundPro-Light';
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.page-footer__top-search ::-moz-placeholder {
  color: #909090;
  font-family: 'DINRoundPro-Light';
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 200;
}
.page-footer__top-search :-moz-placeholder {
  color: #909090;
  font-family: 'DINRoundPro-Light';
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.page-footer__top-search :-ms-input-placeholder {
  color: #909090;
  font-family: 'DINRoundPro-Light';
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.page-footer__top-search input[type="image"] {
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  left: 230px;
  top: 10px;
}
.page-footer__top-search:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #ececec;
  position: absolute;
  right: 74px;
  bottom: 13px;
}
.page-footer__top-phone {
  width: 140px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 25px;
  margin-right: 138px;
}
.page-footer__top-phone span {
  font-family: 'DINRoundPro-Bold';
  font-size: 18px;
  line-height: 42px;
  color: white;
}
.page-footer__top-phone span:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 15px;
  width: 13px;
  height: 16px;
  background-image: url(../img/phone_white.png);
  background-repeat: no-repeat;
}
.page-footer__top-mail {
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'DINRoundPro-Bold';
  font-size: 18px;
  line-height: 42px;
  position: relative;
  padding-left: 15px;
}
.page-footer__top-mail a {
  text-decoration: none;
  color: white;
}
.page-footer__top-mail a:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 16px;
  width: 20px;
  height: 12px;
  background-image: url(../img/mail.png);
  background-repeat: no-repeat;
}
.page-footer__bottom {
  font-family: 'DINRoundPro-Light';
  font-size: 14px;
  padding: 15px 0;
}
.page-footer__bottom-copyright {
  width: 390px;
  float: left;
  line-height: 30px;
  color: #909090;
}
.page-footer__bottom-social {
  width: 353px;
  float: right;
}
.page-footer__bottom-social span {
  line-height: 18px;
  color: white;
}
.page-footer__bottom-social a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.page-footer__bottom-social a:last-child {
  margin-right: 0;
}
