
*{
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'prototypstermedium';
    src: local("prototypstermedium") url('../fonts/prototypster-medium.eot');
    src: url('../fonts/prototypster-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PrototypsterMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?9163458');
  src: url('../fonts/fontello.eot?9163458#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?9163458') format('woff'),
       url('../fonts/fontello.ttf?9163458') format('truetype'),
       url('../fonts/fontello.svg?9163458#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


.icon-up-small:before { content: '\e800'; } /* '' */
.icon-check-empty:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */

header, section, footer {
   display:block;
}

body {
  font-size: 13px;
  line-height: 23px;
  color: #2a2a2a;
  font-weight: 400;
  font-family: Tahoma;
  background: url(../img/bg.png);
  min-width: 325px;
}

.header-main{
    position: relative;
    padding: 50px 0 45px 0;
}

.header { 
    font-family: Tahoma;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    width: 280px;
    margin: 0 auto;
}

.logo-text h1 {
    font-family: prototypstermedium, 'Arial', sans-serif;;
    text-transform: uppercase;
    font-size: 48px;
}

.logo {
    position: relative;
}

.logo-text{
    position: absolute;
    top: 15px;
    left: 40px;
}

.sort-by {
    text-align: center;
    position: relative;
}

.sort-by a {
    text-decoration: none;
    color: #ff5e42;
    border-bottom: 1px #ff5e42 dashed;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.line {
    width: 1px;
    height: 14px;
    background: #000;
    position: absolute;
    left: 167px;
    top: 5px;
}    
    
.container {
    margin: 0 auto;
    max-width: 768px; 
    padding-left: 35px;
    padding-right: 35px; 
    position: relative;
} 

.content {
    padding-bottom: 50px; 
    width: 100%;
}  


.order {
  vertical-align: top;
  display: inline-block;
  margin: 0 20px 50px 0;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
  width: 220px;
}

.active {
  position: absolute;
  left: 170px;
  width: 35px;
  height:55px;
  background-image: url(../img/flag.png);
}

.order:hover{
    box-shadow: 0px 0px 0px 7px #ff5e42;
}

.order:hover .add{
    display: block;
}

.order:hover .complete {
    display: none;
}

.order-text {
    padding: 15px 12px 25px;
}


.order-img {
    padding: 6px; 
}

.order-text h3 {
    text-transform: uppercase;
    font-family: prototypstermedium, 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

table{
    display: table;
     table-layout: auto;
}

.complete {
  padding-top: 30px;
  height: 30px;

}

.complete h4 {
    text-transform: uppercase;
    font-family: prototypstermedium, 'Arial', sans-serif;
    color: #b8b8b8;
    font-size: 24px;
    font-weight: 400;
    margin: 0;

}

.add {
    display: none; 
    padding-top: 30px;
    height: 30px;
}

.add a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: prototypstermedium, 'Arial', sans-serif;;
    font-size: 24px;
    font-weight: 400;
    color: #ff5e42;
    border-bottom: 2px solid #ff5e42;
}

.up {
    margin: 0 auto;
    margin-bottom: 50px;
    clear: both;
    text-transform: uppercase;
    line-height: 32px;
    font-family: prototypstermedium, 'Arial', sans-serif;;
    font-size: 36px;
    width: 155px;
    
    vertical-align: middle;
   }

.up a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    width: auto;
    color: #ff5e42;
}

.up a:before {
    font-family: fontello;
    content: "\e800";
    position: absolute;
    font-size: 38px;
    left: -25px; 
    bottom: 5px;  
}

.up a:after {
    font-family: fontello;
    content: "\e800";
    position: absolute;
    font-size: 38px;
    left: 95px;
    bottom: 5px;
}

.main-footer {
    clear: both;
    text-transform: uppercase;
    font-family: prototypstermedium, 'Arial', sans-serif;;
    min-height: 230px;
    background: url(../img/footer-bg.jpg) repeat-x; 
    width: 100%;
}

.register-form {
    padding-top: 45px;
    }

.email input[type="text"] {
    margin: 0 0 25px 20px;
    font-family: prototypstermedium, 'Arial', sans-serif;;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    width: 210px;
    height: 40px;
    border-radius: 5px;
}

.email label {
    color: #fff;
    font-size: 14px;
}

.subscribe {
    margin: 0 0 25px 68px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.subscribe input[type="checkbox"] {
    display: none;
}

  .subscribe label {
    display: block;
    position: relative;
    padding-left: 40px;
   
  }
   .subscribe input[type="checkbox"] + .switch {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: -5px;
    left: 5px;
    content: " ";
    width: 28px;
    height: 28px;
    background-position: -5px -5px;
    cursor: pointer;
   }
   .subscribe input[type="checkbox"]:checked + .switch {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display:block;
    position: absolute;
    top: -5px;
    left: 5px;
    content: " ";
    width: 28px;
    height: 28px;
    background-position: -43px -5px; 
    cursor: pointer;
   }

.register {
    margin-left: 70px; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 28px;
    color: #ff5e42;
    border: none;
    border-bottom: 2px solid #ff5e42;
    background: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .up a:after{bottom:0}
  .up a:before{bottom:0}
}
