* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto Slab', Arial, sans-serif;
  min-width: 425px;
}
.container {
  padding: 0px 10%;
  max-width: 940px;
  margin: 0px auto;
  position: relative;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.page-header {
  min-height: 105px;
  background-color: #5dc8c8;
  padding-top: 15px;
  border-bottom: 7px solid #5dc8c8;
  border-image: url(../img/head-wave.jpg) 0 0 7 0 repeat;
  margin-bottom: 40px;
}
.page-header__description {
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  color: white;
  padding-top: 20px;
  float: left;
}
.logo {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  height: 46px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  margin-top: 15px;
  float: left;
  margin-right: 5%;
}
.phone {
  width: 190px;
  float: right;
  text-align: right;
}
.phone__number {
  font-size: 23px;
  font-weight: 600;
  color: white;
  display: block;
}
.phone__number:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
  margin-right: 5px;
}
.phone-btn {
  width: 190px;
  padding: 10px 0;
  background-color: #f4f4f4;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: black;
  font-weight: 400;
  box-shadow: 0px 5px 10px -5px #000000;
}
.phone-btn:hover {
  background-color: #fafafa;
}
.request {
  border-bottom: 7px solid #5dc8c8;
  border-image: url(../img/white-wave.jpg) 0 0 7 0 repeat;
  min-height: 400px;
  position: relative;
}
.video-preview {
  width: 300px;
  border-radius: 6px;
  box-shadow: -1px 7px 20px -3px #000000;
  position: absolute;
  top: 125px;
  left: 27%;
}
@media (max-width: 900px) {
  .video-preview {
    position: static;
  }
}
.video-preview__screen {
  width: 300px;
  height: 123px;
  position: relative;
  background-image: url(../img/video.jpg);
  background-repeat: no-repeat;
  border-radius: 6px 6px 0 0;
  background-position: -60px -40px;
  opacity: 0.9;
  margin-bottom: 11px;
}
.video-preview__screen:before {
  position: absolute;
  content: '';
  width: 300px;
  height: 123px;
  background-image: url(../img/video-tr.png);
  background-repeat: no-repeat;
}
.video-preview__screen-btn {
  width: 28px;
  height: 35px;
  background-image: url(../img/video-btn.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 124px;
  top: 62px;
  cursor: pointer;
}
.video-preview span {
  font-size: 16px;
  color: #7f7f7f;
  text-align: center;
  padding-left: 25px;
  padding-right: 20px;
}
.video-preview__link {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  background-image: url(../img/video-link.png);
  background-repeat: no-repeat;
}
.video-preview__bottom {
  padding-bottom: 10px;
}
.consultation {
  float: right;
  width: 260px;
  text-align: center;
  position: relative;
  z-index: 200;
}
.consultation__head {
  font-size: 21px;
  color: white;
  font-weight: 800;
  text-shadow: 0 5px 7px #e1e1e1;
}
.consultation input {
  width: 206px;
  padding: 15px;
  border: 2px solid #cacaca;
  border-radius: 7px;
  margin-bottom: 10px;
}
.consultation button {
  width: 240px;
  padding: 10px 60px;
  font-size: 21px;
  color: white;
  line-height: 27px;
  background-color: #f2594b;
  border: none;
  border-radius: 7px;
}
.consultation button:hover {
  background-color: #f46d61;
}
.consultation ::-webkit-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.consultation ::-moz-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
}
.consultation :-moz-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
}
.consultation :-ms-input-placeholder {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
}
.send-top {
  background-color: #33c5be;
  border-radius: 9px 9px 0 0;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid #cacaca;
}
.send-top__title {
  text-transform: uppercase;
  color: white;
  font-size: 21px;
  line-height: 27px;
  text-shadow: 0 3px 3px #b2b2b2;
  font-weight: 800;
}
.send-top__descr {
  font-size: 15px;
  line-height: 18px;
  text-transform: lowercase;
  color: white;
}
.main-content {
  background-image: url(../img/main-bg.jpg);
  background-repeat: repeat-x;
  background-color: #f9fafb;
  padding-top: 40px;
}
.main-content h2 {
  text-align: center;
  font-size: 27px;
  line-height: 27px;
  color: #00a99d;
  font-weight: 800;
  padding-bottom: 30px;
  padding-top: 30px;
}
.benefits {
  margin-bottom: 40px;
}
.benefits__item {
  width: 14%;
  min-width: 90px;
  display: inline-block;
  margin-right: 6%;
  vertical-align: top;
  text-align: center;
}
.benefits__item:last-child {
  margin-right: 0;
}
.benefits__item p {
  font-size: 16px;
  line-height: 21px;
  color: #5b5b5b;
  font-weight: 800;
}
.format {
  margin-bottom: 55px;
}
.format__logo {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  height: 46px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  margin-left: 21%;
  margin-bottom: 15px;
}
.format__item {
  width: 46%;
  min-width: 300px;
}
.format__item--left {
  float: left;
}
.format__item--right {
  float: right;
  margin-right: 0;
}
.format__item-list {
  border: 1px solid #ecedee;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0px -1px 31px -14px #000000;
}
.format__item-list ul {
  list-style: none;
  padding: 0 20px 35px 20px;
}
.format__item-list ul li {
  padding-bottom: 20px;
}
.format__item-list ul li:last-child {
  padding-bottom: 0;
}
.format__item-list ul li:before {
  content: '';
  width: 18px;
  height: 18px;
  display: inline-block;
  background-image: url(../img/star.png);
  background-repeat: no-repeat;
  margin-right: 6px;
}
.format__item-descr {
  padding: 25px 0;
  text-align: center;
  font-size: 15px;
  color: #cf1100;
  font-weight: 800;
}
.partners-main {
  background-color: white;
}
.partners-main:before {
  content: '';
  width: 100%;
  height: 7px;
  display: block;
  background-image: url(../img/white-wave-up.jpg);
  background-repeat: repeat-x;
}
.partners-main:after {
  content: '';
  width: 100%;
  height: 7px;
  display: block;
  background-image: url(../img/white-wave.jpg);
  background-repeat: repeat-x;
}
.partners-main__item {
  width: 46%;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 21px;
  color: #252525;
}
.partners-main__item-left {
  float: left;
}
.partners-main__item-left ul li:nth-child(1):before {
  background-image: url(../img/task.png);
  background-repeat: no-repeat;
}
.partners-main__item-left ul li:nth-child(2):before {
  background-image: url(../img/specials.png);
  background-repeat: no-repeat;
}
.partners-main__item-left ul li:nth-child(3):before {
  background-image: url(../img/style.png);
  background-repeat: no-repeat;
}
.partners-main__item-right {
  float: right;
}
.partners-main__item-right ul li:nth-child(1):before {
  background-image: url(../img/tecnology.png);
  background-repeat: no-repeat;
}
.partners-main__item-right ul li:nth-child(2):before {
  background-image: url(../img/trening.png);
  background-repeat: no-repeat;
}
.partners-main__item-right ul li:nth-child(3):before {
  background-image: url(../img/curator.png);
  background-repeat: no-repeat;
}
.partners-main ul {
  list-style: none;
}
.partners-main ul li {
  padding-bottom: 20px;
  padding-left: 50px;
  position: relative;
}
.partners-main ul li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  position: absolute;
  left: 0;
}
.partners-details {
  padding-top: 40px;
  padding-bottom: 20px;
}
.partners-details__item {
  width: 24%;
  min-width: 130px;
  display: inline-block;
  vertical-align: top;
  background: white;
  margin-right: 5%;
  margin-bottom: 20px;
  box-shadow: 0px -1px 31px -14px #000000;
  border: 1px solid #ecedee;
  border-radius: 7px;
  padding: 10px 30px 20px 20px;
}
.partners-details__item:last-child {
  margin-right: 0;
}
.partners-details__item ul {
  list-style: none;
}
.partners-details__item ul li {
  padding-bottom: 15px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 13px;
  color: #252525;
  position: relative;
}
.partners-details__item ul li:before {
  content: '';
  width: 10px;
  height: 15px;
  position: absolute;
  left: 0;
  background-image: url(../img/shevron.png);
  background-repeat: no-repeat;
}
.partners-details__item-title {
  font-size: 18px;
  line-height: 18px;
  color: #00a99d;
  font-weight: 800;
  padding-left: 40px;
  padding-bottom: 15px;
  position: relative;
}
.partners-details__item-title-require:before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  background-image: url(../img/require.png);
  background-repeat: no-repeat;
}
.partners-details__item-title-training:before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  background-image: url(../img/education.png);
  background-repeat: no-repeat;
}
.partners-details__item-title-support:before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  background-image: url(../img/support.png);
  background-repeat: no-repeat;
}
